<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.osmdroid.mapforge">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="23" />
    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
