<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.osmnavigator">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true">

        <!-- IMPORTANT - these API keys and accounts have been provided EXCLUSIVELY to OSMNavigator application.
            Developers of other applications must request their own API key from the corresponding service provider. -->
        <meta-data
            android:name="MAPBOX_MAPID"
            android:value="mapbox.streets-satellite"/>
        <meta-data
            android:name="ACCESS_TOKEN"
            android:value="pk.eyJ1IjoibWtlciIsImEiOiJjaWh0bGtyZDIwMDM4dzFrcDlmOTFlbm8zIn0.gHt6BSiGpb19TqUEjD8bxw"/>
        <meta-data
            android:name="GRAPHHOPPER_API_KEY"
            android:value="AMFmC5P8s958tcjfFRJmefNboJ5H0HN6PLFyvdm3"/>
        <meta-data
            android:name="MAPQUEST_API_KEY"
            android:value="Fmjtd%7Cluubn10zn9%2C8s%3Do5-90rnq6"/>
        <meta-data
            android:name="FLICKR_API_KEY"
            android:value="c39be46304a6c6efda8bc066c185cd7e"/>
        <meta-data
            android:name="GEONAMES_ACCOUNT"
            android:value="mkergall"/>

        <activity android:name="com.osmnavigator.MapActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" android:scheme="http" android:pathPattern="/*.kml" />
                <data android:host="*" android:scheme="https" android:pathPattern="/*.kml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="file"
                    android:pathPattern=".*\\.kml"/>
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="file"
                    android:pathPattern=".*\\.kmz"/>
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="file"
                    android:pathPattern=".*\\.json"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.osmnavigator.RouteActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.osmnavigator.POIActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.osmnavigator.KmlTreeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.osmnavigator.KmlStylesActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.osmnavigator.KmlStyleActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.osmnavigator.StartSharingActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.osmnavigator.FriendsActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

    </application>

</manifest>
