name: CI

on:
  push:
    branches:
    - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: gradle
      - uses: malinskiy/action-android/install-sdk@release/0.1.6
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true
      - run: ./gradlew build
